<div class="container">
<h1><%= @category.name %></h1>
</div>

<div class="container">
  <% Post.where(category_id: @category.id).each do |post| %>
  <li>
    <a href=post/<%= post.id %>><%= post.title %></a>
  </li>
    <% end %>
    <br>
    -----------------------------------------------------
    <br>
    <a href="/categories/create_post/<%= params[:category] %>">Create a post!</a>
</div>
